
.form-user {  
    background-color: whitesmoke;
    margin-top: 15%;
    max-width: 50%;
    padding: 2rem;
    border-radius: 4%;
}
.input-user {
    width: 16rem;
    font-size: 20px;
    padding: 0.5rem;
    border-radius: 5px;
    border: solid 1px;
    margin-right: 2rem;
}

.Label-user {
    font-size: 20px;
    margin-bottom: 0.25rem;
}
  
.register-user-button{
    height: 3rem;
    width: 15rem;
    border-radius: 3rem;
    border: solid 1px;   
    margin-top: 3.5vh; 
}
  
.p-inputs-user {
    display: flex;
    flex-direction: row;
}
  
.input-register {
    display: flex;
    flex-direction: column;
}

.register-button{
    text-align: center;
}

.tittle-container{
    text-align: center;
    justify-items: center;
}

